.wrapper {
    width: 500px;
    margin: 0% auto;
    height: fit-content;
    background-color: aliceblue;
    padding: 50px;
}

.student-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.button{
    text-decoration: none;
    background-color: maroon;
    color: white;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 1px solid whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.form-control{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.link {
    margin-top: 20px;
    position: relative;
    width: 109px;
    left: calc(100% - 109px);
}